.App {
  text-align: center;
}

<<<<<<< HEAD
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
=======
.Nav {
  display: flex;
  justify-content: center;
}

.Profile {
  display: flex;
  justify-content: center;
  bottom: 25px;
  font-size: 3vh;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.45);
}

.DropdownMenu {
  display: flex;
  flex-direction: column;
}
.h-divider {
  margin: auto;
  margin-top: 80px;
  width: 80%;
  position: relative;
}
.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}

.h-divider .shadow:before {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}

.h-divider .text {
  width: 100px;
  height: 45px;
  padding: 10px;
  position: absolute;
  bottom: 100%;
  margin-top: -53%;
  left: 50%;
  margin-left: -60px;
  border-radius: 100%;
  box-shadow: 0 0 8px black;
  background: white;
}
.shadow {
  text-align: center;
}

/* zz */
.Card {
  font-size: 20px;
  color: rgb(27, 26, 27);
  font-weight: 800;
  margin-top: 100px;
  margin-left: 46.8%;
  display: flex;
  flex-direction: column;
}

.Ki {
  position: relative;
  right: -4%;
  top: -4px;
  font-size: 20px;
  margin-right: 20px;
}
.stats1 {
  font-size: 20px;
  color: purple;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
  margin-top: -1%;
}
.buttons button {
  height: 30px;
  width: 120px;
  margin: 0px 7px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  bottom: 4px;
  left: -4%;
}
.buttons .follow {
  background-color: #8f4af7;
  transition: all 0.9s;
  left: -30%;
}

.buttons .message {
  background-color: #f23c7e;
  transition: all 0.9s;
  position: relative;
  left: -55.3%;
}
p {
  position: absolute;
  bottom: 40%;
  right: 48.3%;
}

.Container {
  border: 10px solid rgb(27, 26, 27) !important;
  height: 600px;
  width: 388px;
  margin-left: -255px;
  bottom: 15px;
}

.Card1 {
  font-size: 20px;
  color: rgb(27, 26, 27);
  font-weight: 800;
  bottom: 90px;
  /* margin-left: -9%; */
  display: flex;
  flex-direction: column;
}
.Jaz {
  position: relative;
  right: -2%;
  bottom: -4px;
  font-size: 20px;
  right: -145px;
}

.stats {
  font-size: 20px;
  color: purple;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  left: -4%;
  bottom: -20px;
}
.btn .message {
  background-color: #f23c7e;
  transition: all 0.9s;
  position: relative;
  top: 60px;
  left: 45px;
}
.btn .follow {
  background-color: #8f4af7;
  transition: all 0.9s;
  margin-right: 555px;
  top: 90px;
  right: -50%;
}
.btn button {
  height: 30px;
  width: 120px;
  margin: 0px 7px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  top: -auto;
  right: 0%;
}
span {
  position: absolute;
  top: 47%;
  right: 103%;
}

img {
  width: 120px;
  height: 120px;
  border-radius: 30%;
  object-fit: cover;
  margin-top: -8%;
}
img :nth-child(2) {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  bottom: 20px;
  left: 10px;
  /* 
   */
}

.stat1 {
  font-size: 20px;
  color: rgb(37, 32, 37);
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
/* .stats {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  position: relative;
  top: -100px;
} */

/* .stat2 {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.buttons {
  margin-top: 2%;
  position: relative;
  top: -20%;
}

/* .btn .follow {
  background-color: #8f4af7;
  transition: all 0.9s;
  margin-right: 555px;
} */

/* .btn .message {
  background-color: #f23c7e;
  transition: all 0.9s;
  position: relative;
  left: -3%;
} */

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
i {
  position: absolute;
  top: 5%;
  display: flex;
  flex-direction: row;
}
span {
  position: absolute;
  bottom: 10%;
}
h1 {
  position: absolute;
  top: 10%;
  left: -9.9%;
>>>>>>> 35b2662f1947719d79c879d08b3f0a81236a7026
}
